.App {
  text-align: center;
  margin-top: 20px;
  font-family: 'InterTight', 'Arial', sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4c34c3;
  color: white;
}

p {
    color: #291880;
    font-size: 2rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}